addons/*/test_*

.deps
.libs
.dirstamp

aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing

*.o
*.lo
*.la

addons/*/addon/*.so
addons/*/addon/*.dll
addons/*/addon/addon.xml

# gmock, gtest
lib/gmock/build-aux/config.h
lib/gmock/build-aux/stamp-h1
lib/gmock/gtest/build-aux/config.h
lib/gmock/gtest/build-aux/stamp-h1
lib/gmock/gtest/scripts/gtest-config
lib/gmock/scripts/gmock-config
lib/gtest/build-aux/config.h
lib/gtest/build-aux/stamp-h1
lib/gtest/scripts/gtest-config

